* {
    font-family: 'Roboto', sans-serif;
}
header {        
    height: 51px;
    background-color: #212121;
}
.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 71px;
    margin: 0;
    list-style-type: none;
}
.menu_link {
    width: 1140px;
height: 5250px;
}